<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:body>

	<ui:composition template="/layouts/TaskTemplate-8.xhtml">
		<ui:define name="title">Country Information</ui:define>
		<ui:define name="content">
			<h:form id="form"> 
				<p:outputLabel value="Search Country by ISO Code" />
				<p:inputText value="#{data.countryInformationData.countryISOCode}" />
				<div class="command-btns">
					<p:commandButton id="proceed" actionListener="#{logic.find}"
						value="Search" update="panel msg" icon="ui-icon-search" />
				</div>
				<p:messages id="msg" />
			</h:form>
			<h:panelGroup id="panel">
				<p:panelGrid columns="2" layout="grid"
					rendered="#{data.countryInformationData.isHaveData}" id="info-grid"
					styleClass="ui-panelgrid-blank"
					columnClasses="ui-g-12 ui-md-3 ui-lg-2, 
						ui-g-12 ui-md-9 ui-lg-4, 
						ui-g-12 ui-md-3 ui-lg-2, 
						ui-g-12 ui-md-9 ui-lg-4">

					<p:outputLabel for="countryInformationDataCountryISOCode"
						value="Country ISO Code" />
					<h:outputText id="countryInformationDataCountryISOCode"
						value="#{data.countryInformationData.countryISOCode}"></h:outputText>

					<p:outputLabel for="countryInformationDataCapitalCity"
						value="Capital City" />
					<h:outputText id="countryInformationDataCapitalCity"
						value="#{data.countryInformationData.capitalCity}"></h:outputText>

					<p:outputLabel for="countryInformationDataContinentCode"
						value="Continent Code" />
					<h:outputText id="countryInformationDataContinentCode"
						value="#{data.countryInformationData.continentCode}"></h:outputText>

					<p:outputLabel value="Country Flag" />
					<h:graphicImage url="#{data.countryInformationData.countryFlag}"></h:graphicImage>

					<p:outputLabel for="countryInformationDataCurencyCode"
						value="Curency Code" />
					<h:outputText id="countryInformationDataCurencyCode"
						value="#{data.countryInformationData.CurencyCode}"></h:outputText>

					<p:outputLabel for="countryInformationDataName" value="Name" />
					<h:outputText id="countryInformationDataName"
						value="#{data.countryInformationData.name}"></h:outputText>

					<p:outputLabel for="countryInformationDataPhoneCode"
						value="Phone Code" />
					<h:outputText id="countryInformationDataPhoneCode"
						value="+#{data.countryInformationData.phoneCode}"></h:outputText>
					<p:outputLabel value="Languages" />
					<p:dataTable border="1"
						value="#{data.countryInformationData.language.TLanguage}"
						var="language">
						<p:column headerText="Code" id="code">
							<h:outputText value="#{language.SISOCode}"></h:outputText>
						</p:column>

						<p:column headerText="Name" id="name">
							<h:outputText value="#{language.SName}"></h:outputText>
						</p:column>
					</p:dataTable>
				</p:panelGrid>
				<p:panel rendered="#{data.countryInformationData.isHaveData}">
				<h1>Weather Information of
					<h:outputText style="color:red"
						value=" #{data.countryInformationData.capitalCity}" />
				</h1>
				</p:panel>
				<p:panelGrid columns="2" layout="grid"
					rendered="#{data.countryInformationData.isHaveData}"
					id="info-grid-weather" styleClass="ui-panelgrid-blank"
					columnClasses="ui-g-12 ui-md-3 ui-lg-2, 
						ui-g-12 ui-md-9 ui-lg-4, 
						ui-g-12 ui-md-3 ui-lg-2, 
						ui-g-12 ui-md-9 ui-lg-4">
					<p:outputLabel for="temp" value="Temparature" />
					<h:outputText id="temp"
						value="#{data.countryInformationData.openWeather.main.temp } &#x2103;"></h:outputText>
					<p:outputLabel value="Weather" />
					<p:dataTable value="#{data.countryInformationData.openWeather.weather}"
						var="weather">
					<p:column headerText="Status" id="status">
							<h:outputText value="#{weather.main}"></h:outputText>	
							<h:outputText value=", #{weather.description}"></h:outputText>		
						</p:column>
						<p:column headerText="">
							<h:graphicImage  url="http://openweathermap.org/img/wn/#{weather.icon}@2x.png" ></h:graphicImage>	
							</p:column>
					</p:dataTable>
					<p:outputLabel value="Sunrise Time" for="sunrise"/>
					<h:outputText id="sunrise" value="#{data.countryInformationData.openWeather.sys.sunrise}">
						<f:convertDateTime type="time" timeStyle="medium"  timeZone="25200"/>
					</h:outputText>
						<p:outputLabel value="Sunset Time" for="sunset"/>
					<h:outputText id="sunset" value="#{data.countryInformationData.openWeather.sys.sunset}">
						<f:convertDateTime type="time" timeStyle="medium"  timeZone="'#{data.countryInformationData.openWeather.timezone}'" />
					</h:outputText>
					<p:outputLabel value="Wind speed" for="speed"/>
					<h:outputText id="speed" value="#{data.countryInformationData.openWeather.wind.speed} m/s"/>
				</p:panelGrid>
			</h:panelGroup>

		</ui:define>
	</ui:composition>

</h:body>
</html>