<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:body>
	<ui:composition template="/layouts/TaskTemplate-8.xhtml">
		<ui:define name="title">#{ivy.cms.co("/Label/title")}</ui:define>
		<ui:define name="content">

			<h1>#{ivy.cms.co('/Label/title')}</h1>
			<p:messages id="msg" />
			<h:form id="form">


				<!-- No 'form field [java.util.List<entity.IndividualMaterialManufacturerInformationEntity>]' template found for field 'demoWebserviceData.data.individualMaterialManufacturerInformation'. -->
				<div class="ui-g-3">
					<p:outputLabel for="demoWebserviceDataDataUuid"
						value="#{ivy.cms.co('/Label/uuid')}" />
				</div>
				<div class="ui-g-9 ui-fluid">
					<p:inputText id="demoWebserviceDataDataUuid"
						value="#{data.demoWebserviceData.bean.uuid}"
						readonly="#{!data.demoWebserviceData.isRequest}"></p:inputText>
				</div>
				<div class="ui-g-3">
					<p:outputLabel for="demoWebserviceDataDataName"
						value="#{ivy.cms.co('/Label/name')}" />
				</div>
				<div class="ui-g-9 ui-fluid">
					<p:inputText id="demoWebserviceDataDataName"
						readonly="#{!data.demoWebserviceData.isRequest}"
						value="#{data.demoWebserviceData.bean.name}"></p:inputText>
				</div>
				<div class="ui-g-3">
					<p:outputLabel for="demoWebserviceDataDataSerialId"
						value="#{ivy.cms.co('/Label/serialId')}" />
				</div>
				<div class="ui-g-9 ui-fluid">
					<p:inputText id="demoWebserviceDataDataSerialId"
						value="#{data.demoWebserviceData.bean.serialId}"
						readonly="#{!data.demoWebserviceData.isRequest}"></p:inputText>
				</div>
				<div class="ui-g-12">
					<p:commandButton
						value="#{ivy.cms.co('/Label/addIndividualMaterialManufacturerInformation')}"
						actionListener="#{logic.preAdd}" icon="fa fa-plus"
						oncomplete="PF('individualMaterialManufacturerInformationDialog').show()"
						update="individualMaterialManufacturerInformationDialog" rendered="#{data.demoWebserviceData.isRequest}" />
				</div>
				<div class="ui-g-12 ui-fluid">
					<p:dataTable border="1"
						var="individualMaterialManufacturerInformation"
						value="#{data.demoWebserviceData.bean.individualMaterialManufacturerInformation}"
						id="table">
						<p:column headerText="#{ivy.cms.co('/Label/partyInternalId')}"
							id="partyInternalID"
							filterBy="#{individualMaterialManufacturerInformation.partyInternalID}"
							sortBy="#{individualMaterialManufacturerInformation.partyInternalID}">
							<h:outputText id="partyInternalIDText"
								value="#{individualMaterialManufacturerInformation.partyInternalID}"></h:outputText>
						</p:column>
						<p:column headerText="#{ivy.cms.co('/Label/partyInternalName')}"
							id="partyInternalName"
							filterBy="#{individualMaterialManufacturerInformation.partyInternalName}"
							sortBy="#{individualMaterialManufacturerInformation.partyInternalName}">
							<h:outputText id="partyInternalNameText"
								value="#{individualMaterialManufacturerInformation.partyInternalName}"></h:outputText>
						</p:column>
						<p:column headerText="#{ivy.cms.co('/Label/partNumber')}"
							id="partNumber"
							filterBy="#{individualMaterialManufacturerInformation.partNumber}"
							sortBy="#{individualMaterialManufacturerInformation.partNumber}">
							<h:outputText id="partNumberText"
								value="#{individualMaterialManufacturerInformation.partNumber}"></h:outputText>
						</p:column>
						<p:column headerText="#{ivy.cms.co('/Label/action')}" id="action" rendered="#{data.demoWebserviceData.isRequest}">
							<p:commandLink value="#{ivy.cms.co('/Label/edit')}  "
								actionListener="#{logic.preEdit(individualMaterialManufacturerInformation)}"
								oncomplete="PF('individualMaterialManufacturerInformationDialog').show()"
								update="individualMaterialManufacturerInformationDialog"></p:commandLink>
							<p:commandLink value="#{ivy.cms.co('/Label/delete')}"
								actionListener="#{logic.delete}">
								  <p:confirm header="Confirmation" message="Do you want to delete this record?" icon="fa fa-alert" />
								</p:commandLink>
						</p:column>
					</p:dataTable>
				</div>
				<p:commandButton value="Send Request" actionListener="#{logic.close}" rendered="#{data.demoWebserviceData.isRequest}"></p:commandButton>
			</h:form>
			<!-- Dialog -->
			<p:dialog widgetVar="individualMaterialManufacturerInformationDialog"
				minHeight="40" width="600" showEffect="fade" modal="true"
				header="#{data.headerDialog}"
				id="individualMaterialManufacturerInformationDialog"
				rendered="#{data.demoWebserviceData.isRequest}">

				<h:form id="employee">
					<p:messages id="dialogMsg">
					</p:messages>
					<ic:trainning.IndividualDialogComponent
						individualMaterialManufacturerInformation="#{data.demoWebserviceData.individualMaterialManufacturerInformationEntity}"
						isRequest="#{data.demoWebserviceData.isRequest}"
						headerDialog="#{data.headerDialog}" btnAdd="#{logic.isAdd}"
						btnEdit="#{logic.isEdit}">

					</ic:trainning.IndividualDialogComponent>
				</h:form>

			</p:dialog>

			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" 
				responsive="true" width="350">
				<p:commandButton value="No" type="button"
					styleClass="ui-confirmdialog-no ui-button-flat" />
				<p:commandButton value="Yes" type="button"
					styleClass="ui-confirmdialog-yes" />
			</p:confirmDialog>
		</ui:define>
	</ui:composition>
</h:body>
</html>