<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:body>
	<ui:composition template="/layouts/TaskTemplate-8.xhtml">
		<ui:define name="title">ConfirmUUID</ui:define>
		<ui:define name="content">

			<h3>
				This is an <a
					href="https://developer.axonivy.com/doc/latest/designer-guide/user-interface/user-dialogs.html#html-dialogs">Html
					Dialog</a> implemented with JSF and <a href="http://primefaces.org/">Primefaces</a>
				as widget library
			</h3>

			<h:form id="form">
				<p:messages />
				<div class="ui-g-3">
					<p:outputLabel for="dataBeanUuid" value="Enter UUID Here" />
				</div>
				<div class="ui-g-9 ui-fluid">
					<p:inputText id="dataBeanUuid" value="#{data.uuid}"></p:inputText>
				</div>


				<br />
				<div class="command-btns">
					<p:commandButton id="proceed" actionListener="#{logic.close}"
						value="Confirm" update="form" icon="ui-icon-check" />
				</div>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>