<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui">

<!--
In the interface it is possible to define view attributes like labels.
This attributes can be accessed by the el expression cc.attrs.attributeName.
-->
<cc:interface componentType="IvyComponent">
	<cc:attribute name="individualMaterialManufacturerInformation" />
	<cc:attribute name="isRequest" />
	<cc:attribute name="headerDialog" />

<cc:attribute name="btnAdd"
    shortDescription="Click event will be fired on the callback when the button is cklicked."
    method-signature="void handleEvent(javax.faces.event.FacesEvent)" />
    <cc:attribute name="btnEdit"
    shortDescription="Click event will be fired on the callback when the button is cklicked."
    method-signature="void handleEvent(javax.faces.event.FacesEvent)" />
    <cc:attribute name="btnDelete"
    shortDescription="Click event will be fired on the callback when the button is cklicked."
    method-signature="void handleEvent(javax.faces.event.FacesEvent)" />
 
</cc:interface>
<cc:implementation>

	<div class="ui-g-3">
		<p:outputLabel value="#{ivy.cms.co('/Label/partyInternalId')}"
			for="partyInternalId" />
	</div>

	<div class="ui-g-9 ui-fluid">
		<p:inputText id="partyInternalId"
			value="#{cc.attrs.individualMaterialManufacturerInformation.partyInternalID}" />
	</div>

	<div class="ui-g-3">
		<p:outputLabel value="#{ivy.cms.co('/Label/partyInternalName')}"
			for="partyInternalName" />
	</div>

	<div class="ui-g-9 ui-fluid">
		<p:inputText id="partyInternalName"
			value="#{cc.attrs.individualMaterialManufacturerInformation.partyInternalName}"
			type="text" />
	</div>

	<div class="ui-g-3">
		<p:outputLabel value="#{ivy.cms.co('/Label/partNumber')}"
			for="partNumber" />
	</div>

	<div class="ui-g-9 ui-fluid">
		<p:inputText id="partNumber"
			value="#{cc.attrs.individualMaterialManufacturerInformation.partNumber}" />
	</div>


	<p:commandButton value="#{ivy.cms.co('/Label/ok')}"
		rendered="#{cc.attrs.headerDialog eq 'Add new'}"
		actionListener="#{cc.attrs.btnAdd}" update="@form"
		validateClient="true" style="float:right; width:70px" />
	<p:button value="#{ivy.cms.co('/Label/cancel')}"
		onclick="PF('individualMaterialManufacturerInformationDialog').hide();return false;"
		style="float:right" />



	<p:commandButton value="#{ivy.cms.co('/Label/edit')}"
		rendered="#{cc.attrs.headerDialog eq 'Edit'}"
		actionListener="#{cc.attrs.btnEdit}" update="@form"
		validateClient="true" style="float:right; width:70px" />

	<p:commandButton value="#{ivy.cms.co('/ButtonLabel/btnOk')}"
		rendered="#{cc.attrs.headerDialog eq 'Delete employee' and !cc.attrs.isApprove}"
		actionListener="#{cc.attrs.btnDelete}" update="@form"
		style="float:right; width:70px" />

</cc:implementation>

</html>